<h1 class="pb-4 d-flex justify-content-center">About</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 d-flex justify-content-center">
      <div>
        Whether you're an experienced chef or a beginner in the kitchen, Isuru
        Cooking Blog is here to inspire and support your culinary journey. Our
        goal is to make cooking enjoyable, educational, and accessible to all.
        Join our community of food lovers from around the world as we embark on
        a global culinary adventure. Share your own recipes, tips, and
        experiences, and connect with like-minded individuals who share a
        passion for cooking and exploring different cuisines. At Isuru Cooking
        Blog, we believe that everyone has a unique taste and preference when it
        comes to food. That's why our recipe collection is diverse and
        constantly expanding. We encourage you to try new flavors, experiment
        with ingredients, and make each recipe your own. Whether you're seeking
        quick and easy weekday meals, elegant dishes for special occasions, or
        dietary-specific recipes, we have a wide range of options to cater to
        your needs. From vegan and gluten-free recipes to indulgent desserts and
        traditional family favorites, our selection is designed to satisfy a
        variety of tastes and dietary requirements. We value your feedback and
        suggestions, so please don't hesitate to reach out to us. We're here to
        answer your questions, provide assistance, and continue improving your
        experience on our website. Thank you for joining us on this culinary
        journey. Let's explore the world one recipe at a time and create
        unforgettable moments in the heart of your kitchen. Happy cooking with
        Isuru Cooking Blog!
      </div>
    </div>
  </div>
</div>
<div class="col-lg-8 col-sm-12">
  <div class="row justify-content-center"></div>
</div>
