<h1 class="pb-4 d-flex justify-content-center">About</h1>
<div class="container">
  <div class="row">
    <div class="justify-content-center">
      <div class="row">
        Whether you're an experienced chef or a beginner in the kitchen, Isuru
        Cooking Blog is here to inspire and support your culinary journey. Our
        goal is to make cooking enjoyable, educational, and accessible to all.
        Join our community of food lovers from around the world as we embark on
        a global culinary adventure. Share your own recipes, tips, and
        experiences, and connect with like-minded individuals who share a
        passion for cooking and exploring different cuisines. At Isuru Cooking
        Blog, we believe that everyone has a unique taste and preference when it
        comes to food. That's why our recipe collection is diverse and
        constantly expanding. We encourage you to try new flavors, experiment
        with ingredients, and make each recipe your own. Whether you're seeking
        quick and easy weekday meals, elegant dishes for special occasions, or
        dietary-specific recipes, we have a wide range of options to cater to
        your needs. From vegan and gluten-free recipes to indulgent desserts and
        traditional family favorites, our selection is designed to satisfy a
        variety of tastes and dietary requirements. We value your feedback and
        suggestions, so please don't hesitate to reach out to us. We're here to
        answer your questions, provide assistance, and continue improving your
        experience on our website. Thank you for joining us on this culinary
        journey. Let's explore the world one recipe at a time and create
        unforgettable moments in the heart of your kitchen. Happy cooking with
        Isuru Cooking Blog!
      </div>
      <div class="row mt-3">
        Github Repository:
        <a href="https://github.com/isurudinusha/Cooking-Blog" target="_blank"
          >https://github.com/isurudinusha/Cooking-Blog</a
        >
      </div>
      <div class="row mt-3">
        <p>
          My name is Isuru Dinusha. I am a student at the Solent University in
          Southamton. For this project, I have used the following technologies:
          HTML, CSS, JavaScript, Jquery, Node.js , MongoDB, and Bootstrap.
        </p>
        <p>
          The purpose of this website is to provide a platform for users to
          upload and share their favorite recipes with the world of cooking
          enthusiasts. Whether you're a seasoned chef or a passionate home cook,
          this platform allows you to showcase your culinary creations and
          inspire others with your delicious recipes.
        </p>

        <p>
          By bringing together the power of Node.js for server-side development,
          MongoDB for database storage, Express for routing and middleware, and
          Bootstrap for responsive design, this project aims to provide a robust
          and visually appealing platform for food lovers to explore, share, and
          discover exciting recipes from around the world.
        </p>
        <p>
          To enhance the functionality and ease of development, I have utilized
          several NPM packages, including:
        </p>
        <ul>
          <li>
            <b>connect-flash:</b> This package provides a flash messaging
            system, allowing you to display temporary messages to users, such as
            success or error notifications, after certain actions or events.
          </li>
          <li>
            <b>cookie-parser:</b> This package enables the parsing and handling
            of cookies in incoming requests. It simplifies the process of
            working with cookies in your Express application.
          </li>
          <li>
            <b>dotenv:</b> This package loads environment variables from a .env
            file into process.env. It's useful for securely storing sensitive
            information, such as API keys or database credentials, without
            exposing them in your codebase.
          </li>

          <li>
            <b>ejs:</b> This package is a templating engine that allows you to
            dynamically generate HTML markup. It simplifies the process of
            rendering dynamic content and passing data to your views.
          </li>

          <li>
            <b>express:</b> Express is a fast and minimalist web application
            framework for Node.js. It provides a robust set of features for
            building web applications, including routing, middleware support,
            and request/response handling.
          </li>

          <li>
            <b>express-ejs-layouts:</b> This package adds layout support to your
            EJS templates in Express. It allows you to define a base layout that
            can be extended by multiple views, providing a consistent structure
            across your application.
          </li>

          <li>
            <b>express-fileupload:</b> This package simplifies the handling of
            file uploads in Express. It provides middleware that allows you to
            easily process and store files sent by users in your application.
          </li>
          <li>
            <b>express-session:</b> This package enables session management in
            your Express application. It helps you create and manage user
            sessions, allowing you to store session data and authenticate users.
          </li>
          <li>
            <b>MongoDB and mongoose:</b> MongoDB is a popular NoSQL database,
            and mongoose is an object data modeling (ODM) library for MongoDB.
            Together, they provide a powerful and flexible solution for storing
            and retrieving data in your application, allowing you to define
            schemas, perform database operations, and interact with MongoDB
            easily.
          </li>
        </ul>
        <p>
          By leveraging these NPM packages, I have enhanced the functionality
          and development process of my cooking blog. Each package serves a
          specific purpose, from handling user sessions and file uploads to
          simplifying templating and database operations. This combination of
          technologies and packages allows for a seamless and efficient user
          experience while uploading, browsing, and interacting with recipes on
          the website.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-8 col-sm-12">
  <div class="row justify-content-center"></div>
</div>
