<div class="row justify-content-center">
  <div class="col-lg-8 col-sm-12">
    <div class="form-container">
      <form action="/contact" method="POST" class="contact-form">
        <h1 class="pb-4 d-flex justify-content-center">Contact Us</h1>
        <% if(infoSubmitObj != '') { %>
        <div class="col-12 alert alert-success" role="alert">
          <%= infoSubmitObj%>
        </div>
        <% } %> <% if(infoErrorsObj != '') { %>
        <div class="col-12 alert alert-danger" role="alert">
          <%= infoErrorsObj%>
        </div>
        <% } %>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="name"
          id="name"
          required
        /><br />
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          id="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="Please enter valid email address."
        /><br />
        <input
          type="text"
          class="form-control"
          placeholder="Subject"
          name="subject"
          id="subject"
          required
        /><br />
        <textarea
          name="message"
          placeholder="Message"
          class="form-control"
          id="message"
          cols="30"
          rows="10"
          required
        ></textarea
        ><br />
        <input
          type="submit"
          id="send-btn"
          class="btn btn-primary"
          value="Send Message"
        />
      </form>
    </div>
  </div>
</div>
